echo "__pycache__/" >> .gitignore
echo ".DS_Store" >> .gitignore
echo "._*" >> .gitignore
echo "*.pyc" >> .gitignore
echo "*.ipynb_checkpoints" >> .gitignore
echo "*.so" >> .gitignore
echo "*.DS_Store" >> .gitignore
echo "*._*" >> .gitignore