EasyDict==1.7
opencv-python
cython
scipy
pandas
pyyaml
json_tricks
scikit-image
yacs>=0.1.5
tensorboardX==1.6
git+git://github.com/waspinator/coco.git@2.1.0
git+git://github.com/waspinator/pycococreator.git@0.2.0
seaborn
flask
colour
sklearn
h5py
lshashing
tqdm
h5py